<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta
      http-equiv="Content-Security-Policy"
      content="style-src 'self'; manifest-src 'self'; img-src 'self' data:; font-src 'self' data:;"
    />
    <title>{{ERROR_TITLE}} — Code Server</title>
    <link rel="icon" href="{{assetPath csStaticBase '/media/favicon.ico'}}" type="image/x-icon" />
    <link rel="manifest" href="{{assetPath base '/code-server.webmanifest'}}" crossorigin="use-credentials" />
    <link rel="apple-touch-icon" href="{{assetPath csStaticBase '/media/pwa-icon-384.png'}}" />
    <link href="{{assetPath csStaticBase '/register.css'}}" rel="stylesheet" />
    <meta id="coder-options" data-settings="{{{json coderOptions}}}" />
  </head>
  <body>
    <div class="center-container">
      <div class="error-display">
        <h2 class="header">{{ERROR_HEADER}}</h2>
        <div class="body">{{ERROR_BODY}}</div>
        <div class="links">
          <a class="link" href="{{HOME_PATH}}">Go home</a>
        </div>
      </div>
    </div>
    <script data-cfasync="false" src="{{assetPath base '/register.js'}}"></script>
  </body>
</html>
